body {
    font-family: 'Uchen', serif;
    background-color: black;
}

#picture1 {
    width: 100%;
    height: 50%;
}

#HTMLpicture {
    width: 50px;
    height: 50px;
    padding-right: 5px;
    float: left;

}

#headtext {
    margin: -15px 280px 0 0 ;
    padding: 0px;
    line-height: 0.3;


}

#threedots {
    width: 50px;
    height: 50px;
    float: right;
    margin: 0;
    
}

.left {
    height: 50px;
    width: 50px;
    float: left;
    padding-right: 10px;
}

#right {
    height: 50px;
    width: 50px;
    float: right;
    padding-right: 30px;
}

#outline {
    height: 700px;
    width: 450px;
    margin: auto;
    border: solid white;
    background-color: white;
   margin-top: 5%;
}
.fitbetter {
    display: flex;
    padding-top: 10px;
}